# Ignore virtual environment directory
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other unnecessary files
*.log
*.db
